{% extends 'base.html' %}


{% block head%} 

{% endblock %}


{% block body %} 

<div class = 'container'>
    <h1>Welcome to the page</h1>
    <h2>Please enter your credentials: </h2>
    <br>
    <form action="" method="POST">
        <input type="text" placeholder="username" name = "username" value = "{{ request.form.username }}">
        <br>
        <br>
        <input type="text" placeholder="password" name = "password" value = "{{ request.form.password }}">
        <br>
        <br>
        <input type="submit" value = "Login">
    </form>
    {% if error%}
        <p class="error"><strong>Error: </strong>{{error}}</p>
    {% endif %}

</div>

{% endblock %}