{% extends 'base.html' %}



{% block head%} 

{% endblock %}



{% block body %}

    <h1>Welcome back</h1>
    <h2>Here is the list of stock you requested:</h2>

    <div class="content">
    
        <table>
            <tr>
                <th>Item Name</th>
                <th>Reasons for request</th>
                <th>Quantity</th>
                <th>Actions</th>
            </tr>
                {%for item in results %}
                <tr>
                    <td>{{ item.1 }}</td> 
                    <td>{{ item.2 }}</td>
                    <td>{{ item.3 }}</td> 
                    <td>
                        <form action="{{url_for('delete_item', id=item.0)}}" method="DELETE">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="submit" value="Delete">
                        </form>
                        <br>
                        <a href='/item/{{item.0}}'>View</a>
                    </td>
                {% endfor %}
                </tr>
        </table>
        <h1>Add more requests below</h1>
        <br>
    
        <form class="form" action="/supplies" method = "POST">
            <label for="item_name">The name of the item</label>
            <input id="item_name" type="text" name="item_name">
            <br>
            <br>
            <label for="reasons_for_request">The reason for the request</label>
            <input id="reasons_for_request" type="text" name="reasons_for_request">
            <br>
            <br>
            <label for="quantity">Quantity required</label>
            <input id="quantity" type="text" name="quantity">
            <br>
            <br>
            <button type="submit">Submit request</button>
        </form>


{% endblock %}