{% extends 'base.html' %}



{% block head%} 

{% endblock %}



{% block body %}

    <h1>Welcome back</h1>
    <h2>Here is the list of stock you requested:</h2>

    <div class="content">
    
        <table>
            <tr>
                <th>Item Name</th>
                <th>Reasons for request</th>
                <th>Quantity</th>
                <th>Date Requested</th>
                <th>Actions</th>
            </tr>
            {%for item in items%}
            <tr>
                <td>{{ item.item_name }}</td> 
                <td>{{ item.reasons_for_request }}</td>
                <td>{{ item.item_quantity }}</td> 
                <td>{{ item.date_requested.date()}}</td>
                <td>
                    <a href="/delete/{{item.id}}">Delete</a>
                    <br>
                    <a href="/update/{{item.id}}">Update</a>
                </td>
            {% endfor %}
            </tr>
        </table>
        <br>
        <br>
    
        <form class="form" action="/welcome" method = "POST">
            <label for="item_name">The name of the item</label>
            <input id="item_name" type="text" name="item_name">
            <br>
            <br>
            <label for="reasons_for_request">The reason for the request</label>
            <input id="reasons_for_request" type="text" name="reasons_for_request">
            <br>
            <br>
            <label for="item_quantity">Quantity required</label>
            <input id="item_quantity" type="text" name="item_quantity">
            <br>
            <br>
            <button type="submit">Submit request</button>
        </form>


{% endblock %}